.unstable-gridSystemContentWrapper {
  width: 100%;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  container-type: inline-size;
}
.gridSystemContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.unstable-gridSystemContentWrapper .gridSystem {
  --horizontal-margin: 0px;
  --grid-system-width: calc(100cqw);
}

.gridSystem {
  --light-dashed-png: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAACXBIWXMAAAsTAAALEwEAmpwYAAAANklEQVQokWN8/fr1fwY0ICoqyoguhk0dE7oAKYARZiI223ABmB6KbKZI8yggEQzReGYcsIwBALk3HxGhdtdwAAAAAElFTkSuQmCC");
  --dark-dashed-png: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAACXBIWXMAAAsTAAALEwEAmpwYAAAANklEQVQokWOUl5f/z4AGHj58yIguhk0dE7oAKYARZiI223ABmB6KbKZI8yggEQzReGYcsIwBAA1NFYEXiwqfAAAAAElFTkSuQmCC");
  --max-width: 1080px;
  --min-width: 368px;
  --guide-width: 1px;
  --horizontal-margin: 2rem;
  --grid-system-width: 100vw;
  --guide-color: var(--ds-gray-400);
  --cross-color: var(--ds-gray-600);
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin-top: var(--guide-width);
  margin-left: var(--guide-width);
}
.gridSystemDebug {
  --debug-color-rgb: 255, 204, 109;
  --debug-guide-color: rgba(var(--debug-color-rgb), 0.7);
  --debug-block-color: rgba(var(--debug-color-rgb), 0.1);
  --debug-hidden-guide-color: rgba(var(--debug-color-rgb), 0.1);
  --guide-color: var(--debug-guide-color) !important;
}
.gridSystem:before {
  position: absolute;
  inset: 0;
  left: calc(-1* var(--guide-width));
  top: calc(-1* var(--guide-width));
  content: "";
  border: var(--guide-width) solid var(--guide-color);
  pointer-events: none;
}

.grid {
  --width: clamp(calc(var(--min-width) - var(--guide-width)), calc(var(--grid-system-width) - var(--guide-width) -(var(--horizontal-margin)* 2)), calc(var(--max-width) - var(--guide-width)));
  width: var(--width);
  height: var(--height);
  display: grid;
  position: relative;
  --column-width: calc(var(--width) / var(--grid-columns));
  --row-height: calc(var(--height) / var(--grid-rows));
  grid-template-columns: repeat(var(--grid-columns), var(--column-width));
  grid-template-rows: repeat(var(--grid-rows), var(--row-height));
}
@media screen and (min-width: 961px) {
  .grid {
      --height: var(--lg-height, var(--md-height, var(--smd-height, var(--sm-height))));
      --grid-rows: var(--lg-grid-rows, var(--md-grid-rows, var(--smd-grid-rows, var(--sm-grid-rows))));
      --grid-columns: var(--lg-grid-columns, var(--md-grid-columns, var(--smd-grid-columns, var(--sm-grid-columns))));
      --cell-padding: 48px;
      --grid-divider-gap: calc(140px - var(--cell-padding));
  }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .grid {
      --height: var(--smd-height, var(--md-height, var(--sm-height)));
      --grid-rows: var(--smd-grid-rows, var(--md-grid-rows, var(--sm-grid-rows)));
      --grid-columns: var(--smd-grid-columns, var(--md-grid-columns, var(--sm-grid-columns)));
      --cell-padding: 40px;
      --grid-divider-gap: calc(120px - var(--cell-padding));
  }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
  .grid {
      --height: var(--sm-height);
      --grid-rows: var(--sm-grid-rows);
      --grid-columns: var(--sm-grid-columns);
      --cell-padding: 24px;
      --grid-divider-gap: calc(72px - var(--cell-padding));
  }
}
@media screen and (max-width: 400px) {
  .grid {
      --height: var(--xs-height, var(--sm-height));
      --grid-rows: var(--xs-grid-rows, var(--sm-grid-rows));
      --grid-columns: var(--xs-grid-columns, var(--sm-grid-columns));
      --cell-padding: 24px;
      --grid-divider-gap: calc(72px - var(--cell-padding));
  }
}
.gridSystem [data-grid] {
  border-bottom: var(--guide-width) solid var(--guide-color);
}

.cross {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  pointer-events: none;
  position: absolute;
  grid-column-start: var(--cross-column);
  grid-row-start: var(--cross-row);
  z-index: 2;
  --cross-size: 21px;
  --cross-half-size: calc((var(--cross-size) / 2) + var(--guide-width) - 0.5px);
  inset: calc(var(--cross-half-size)* -1);
}
@media screen and (min-width: 961px) {
  .cross {
      --cross-row: var(--lg-cross-row, var(--md-cross-row, var(--smd-cross-row, var(--sm-cross-row))));
      --cross-column: var(--lg-cross-column, var(--md-cross-column, var(--smd-cross-column, var(--sm-cross-column))));
  }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .cross {
      --cross-size: 15px;
      --cross-row: var(--smd-cross-row, var(--md-cross-row, var(--sm-cross-row)));
      --cross-column: var(--smd-cross-column, var(--md-cross-column, var(--sm-cross-column)));
  }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
  .cross {
      --cross-size: 11px;
      --cross-row: var(--sm-cross-row);
      --cross-column: var(--sm-cross-column);
  }
}
@media screen and (max-width: 400px) {
  .cross {
      --cross-size: 11px;
      --cross-row: var(--xs-cross-row, var(--sm-cross-row));
      --cross-column: var(--xs-cross-column, var(--sm-cross-column));
  }
}
.crossLine {
  position: absolute;
  border: var(--guide-width) solid var(--cross-color);
  border-width: 0;
}

.block {
  overflow: hidden;
  z-index: 2;
  margin-bottom: var(--guide-width);
  margin-right: var(--guide-width);
  grid-row: var(--grid-row);
  grid-column: var(--grid-column);
  display: var(--block-display);
  padding: var(--cell-padding);
}
@media screen and (min-width: 961px) {
  .block {
      --grid-row: var(--lg-grid-row, var(--md-grid-row, var(--smd-grid-row, var(--sm-grid-row))));
      --grid-column: var(--lg-grid-column, var(--md-grid-column, var(--smd-grid-column, var(--sm-grid-column))));
      --cell-rows: var(--lg-cell-rows, var(--md-cell-rows, var(--smd-cell-rows, var(--sm-cell-rows))));
      --cell-columns: var(--lg-cell-columns, var(--md-cell-columns, var(--smd-cell-columns, var(--sm-cell-columns))));
      --block-display: var(--smd-block-display);
  }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .block {
      --grid-row: var(--smd-grid-row, var(--md-grid-row, var(--sm-grid-row)));
      --grid-column: var(--smd-grid-column, var(--md-grid-column, var(--sm-grid-column)));
      --cell-rows: var(--smd-cell-rows, var(--md-cell-rows, var(--sm-cell-rows)));
      --cell-columns: var(--smd-cell-columns, var(--md-cell-columns, var(--sm-cell-columns)));
      --block-display: var(--smd-block-display);
  }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
  .block {
      --grid-row: var(--sm-grid-row);
      --grid-column: var(--sm-grid-column);
      --cell-rows: var(--sm-cell-rows);
      --cell-columns: var(--sm-cell-columns);
      --block-display: var(--sm-block-display);
  }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
  .block {
      --grid-row: var(--sm-grid-row);
      --grid-column: var(--sm-grid-column);
      --cell-rows: var(--sm-cell-rows);
      --cell-columns: var(--sm-cell-columns);
      --block-display: var(--sm-block-display);
  }
}
@media screen and (max-width: 400px) {
  .block {
      --grid-row: var(--xs-grid-row, var(--sm-grid-row));
      --grid-column: var(--xs-grid-column, var(--sm-grid-column));
      --block-display: var(--xs-block-display, var(--sm-block-display));
      --cell-rows: var(--xs-cell-rows, var(--sm-cell-rows));
      --cell-columns: var(--xs-cell-columns, var(--sm-cell-columns));
  }
}
.block>div {
  height: 100%;
}

.guides {
  pointer-events: none;
  z-index: 1;
  display: contents;
}
.guide {
  inset: 0;
  position: absolute;
  grid-column-start: var(--x);
  grid-row-start: var(--y);
  grid-column-end: span 1;
  grid-row-end: span 1;
  border: var(--guide-width) solid var(--guide-color);
  border-left: none;
  border-top: none;
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .lgGuide, .mdGuide, .smGuide, .xsGuide {
      display: none;
  }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
  .lgGuide, .mdGuide, .smdGuide, .xsGuide {
      display: none;
  }
}
@media screen and (max-width: 400px) {
  .lgGuide, .mdGuide, .smGuide, .smdGuide {
      display: none;
  }
}
