@import url(./fonts.css);
@import url(./colors.css);
@import url(./geist.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    touch-action: manipulation;
    font-feature-settings: "rlig" 1, "calt" 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
  }
  
  @supports (font-synthesis-weight:none) {
    html {
        font-synthesis: initial;
        font-synthesis-weight: none;
    }
  }

  html {
    --banner-height: 0px;
    --vh100-offset: calc(var(--header-height) + var(--banner-height));
  }
}

@layer utilities {
  :root {
    --font-sans: "Geist","Geist Fallback",Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    --font-mono: "Geist Mono","Geist Mono Fallback",ui-monospace,SFMono-Regular,Roboto Mono,Menlo,Monaco,Liberation Mono,DejaVu Sans Mono,Courier New,monospace,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }
  .font-sans {
    font-family: Geist,Geist Fallback,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-style: normal
  }

  .font-mono {
    font-family: Geist Mono,Geist Mono Fallback,ui-monospace,SFMono-Regular,Roboto Mono,Menlo,Monaco,Liberation Mono,DejaVu Sans Mono,Courier New,monospace,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-style: normal
  }
}