@import url(./fonts.css);
@import url(./colors.css);
@import url(./geist.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
  }
}

@layer utilities {
  :root {
    --font-sans: "Geist","Geist Fallback",Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    --font-mono: "Geist Mono","Geist Mono Fallback",ui-monospace,SFMono-Regular,Roboto Mono,Menlo,Monaco,Liberation Mono,DejaVu Sans Mono,Courier New,monospace,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }
  .font-sans {
    font-family: Geist,Geist Fallback,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-style: normal
  }

  .font-mono {
    font-family: Geist Mono,Geist Mono Fallback,ui-monospace,SFMono-Regular,Roboto Mono,Menlo,Monaco,Liberation Mono,DejaVu Sans Mono,Courier New,monospace,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-style: normal
  }
}