@import url('./fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-sans {
    --font-sans: "Geist","Geist Fallback",Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-family: Geist,Geist Fallback,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-style: normal
  }
  
  .font-mono {
    --font-mono: "Geist Mono","Geist Mono Fallback",ui-monospace,SFMono-Regular,Roboto Mono,Menlo,Monaco,Liberation Mono,DejaVu Sans Mono,Courier New,monospace,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-family: Geist Mono,Geist Mono Fallback,ui-monospace,SFMono-Regular,Roboto Mono,Menlo,Monaco,Liberation Mono,DejaVu Sans Mono,Courier New,monospace,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-style: normal
  }
}