@media (min-width: 1151px) {
  .toggle {
    display: none;
  }
}
.root {
  z-index: 9999;
}

.mobileMenuToggle {
  width: 32px;
  border-radius: 50%;
  border: 1px solid var(--ds-gray-alpha-400);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: background-color .2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  transition: box-shadow .2s ease;
}
.mobileMenuToggle {
  cursor: pointer;
  pointer-events: all;
  height: 32px;
  position: relative;
  color: var(--ds-gray-900);
}

.bar {
  width: 14px;
  height: 1.5px;
  background: var(--ds-gray-900);
  position: absolute;
  transition-property: transform;
  transition-duration: .16s;
  transition-timing-function: cubic-bezier(.32, .05, .43, 1.02);
}
.bar[data-position="top"] {
  transform: translateY(-3.5px);
}
.bar[data-position="bottom"] {
  transform: translateY(3.5px);
}
.mobileMenuToggle[data-expanded='true']
.bar[data-position="top"] {
  transform: translateY(0) rotate(45deg) scaleX(1.1);
}
.mobileMenuToggle[data-expanded='true']
.bar[data-position="bottom"] {
  transform: translateY(0) rotate(-45deg) scaleX(1.1);
}

.popover-scrollWrapper {
  position: fixed;
  inset: calc(var(--header-height) - 1px) 0 0;
  background: var(--background-color, --ds-background-100);
  overflow-y: scroll;
  overscroll-behavior: none;
}
.popover-scrollWrapper::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  min-height: calc(100% + 2px);
  pointer-events: none;
  content: "";
}

.popover-wrapper {
  --transition: background .1s ease, color .1s ease, box-shadow .2s ease;
  --half-gap: calc(var(--geist-gap) / 2);
  display: flex;
  flex-direction: column;
  padding: 0 var(--half-gap);
}
.popover-wrapper section {
  padding: var(--half-gap) 0;
  position: relative;
  border-bottom: 1px solid var(--ds-gray-200);
}

.popover-ctas {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 var(--half-gap);
  border-bottom: none !important;
}

.popover-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.popover-navigationListItemLink {
  display: flex;
  align-items: center;
  height: 48px;
  text-decoration: none;
  gap: 8px;
  padding: 0 var(--half-gap);
  border-radius: 6px;
  position: relative;
  transition: var(--transition);
  font-family: var(--font-sans);
}
.popover-navigationListItemLink,
.popover-navigationListItemLink * {
  transition: var(--transition);
}
.popover-navigationListItemLink {
  color: var(--ds-gray-900);
  line-height: 125%;
}
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  border: none;
}

.popover-themeSwitcher {
  padding: 0 var(--half-gap);
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition);
  color: var(--ds-gray-900);
}
