.reset {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.base {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: none;
  transform: translateZ(0);
}

.button {
  display: flex;
}
.button {
  --x-padding: 10px;
  --height: 40px;
  font-size: 14px;
}
.button[data-button] {
  border-radius: 6px;
  color: var(--themed-fg, var(--ds-background-100));
  background: var(--themed-bg, var(--ds-gray-1000)) none;
  font-weight: 500;
  padding: 0 var(--geist-gap-half);
  box-shadow: 0 0 0 1px var(--themed-border, transparent);
  max-width: 100%;
  justify-content: center;
  align-items: center;
  transition-property: border-color, background, color, transform, box-shadow;
  transition-duration: .15s;
  transition-timing-function: ease;
  font-size: var(--geist-form-font);
  line-height: var(--geist-form-line-height);
  height: var(--geist-form-height);
}

.shape[data-button] {
  padding: 0;
  width: var(--geist-form-height);
}
.button svg {
  flex-shrink: 0;
}

.tiny[data-button] {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.small[data-button] {
  font-size: var(--geist-form-small-font);
  height: 32px;
  --spinner-size: 15px;
}
.button.small {
  --x-padding: 6px;
  --height: 32px;
  font-size: 14px;
}
.small.shape[data-button] {
  width: var(--geist-form-small-height);
}
.large[data-button] {
  height: var(--geist-form-large-height);
  font-size: var(--geist-form-large-font);
  line-height: var(--geist-form-large-line-height);
  border-radius: 8px;
}
.button.large {
  --x-padding: 14px;
  --height: 48px;
  font-size: 16px;
}
.large.shape[data-button] {
  width: var(--geist-form-large-height);
}
.circle[data-button] {
  border-radius: 100% !important;
}
.rounded.large[data-button],
.rounded[data-button] {
  border-radius: 100px;
}

/* types or variants of button */
.secondary[data-button] {
  --themed-bg: var(--ds-background-100);
  --themed-hover-bg: var(--ds-gray-alpha-200);
  --themed-fg: var(--ds-gray-1000);
  --themed-border: var(--ds-gray-alpha-400);
}
.secondary[data-button].invert[data-button][data-hover='true'][data-button] {
  background-color: var(--ds-gray-100);
  --themed-border: rgba(0, 0, 0, .12) !important;
  color: var(--themed-fg);
}
.secondary[data-button].shadow[data-button] {
  box-shadow: var(--ds-shadow-border-small);
}
.tertiary[data-button] {
  background: none;
  color: var(--themed-bg, var(--ds-gray-1000));
  --themed-border: transparent;
  --themed-hover-bg: var(--ds-gray-alpha-200);
  --lighten-color: hsla(0, 0%, 100%, .8);
}
.tertiary[data-hover='true'][data-button], 
.dark-theme .tertiary[data-hover='true'][data-button] {
  background-color: var(--ds-gray-alpha-200);
  --themed-border: var(--ds-gray-alpha-200) !important;
}
.new-themed.new-error {
  --themed-fg: var(--ds-red-900);
  --themed-bg: var(--ds-red-100);
  --themed-border: var(--ds-red-400);
}
.new-themed.new-error-fill {
  --themed-fg: var(--ds-contrast-fg);
  --themed-bg: var(--ds-red-800);
  --themed-hover-bg: var(--ds-red-800);
  --themed-press-bg: #ffaba3;
  --themed-border: var(--themed-bg);
  --themed-focus-ring: #ffaba3;
}
html:not(.dark-theme) .new-themed.new-error-fill {
  --themed-fg: #f5f5f5;
  --themed-hover-bg: #ae292f;
  --themed-press-bg: #7c1316;
  --themed-focus-ring: #7c1316;
}
.new-themed.new-warning {
  --themed-fg: var(--ds-amber-900);
  --themed-bg: var(--ds-amber-100);
  --themed-border: var(--ds-amber-400);
}
.new-themed.new-warning-fill {
  --themed-fg: #0a0a0a;
  --themed-bg: var(--ds-amber-800);
  --themed-hover-bg: #d27504;
  --themed-border: var(--themed-bg);
  --themed-press-bg: #a35200;
  --themed-focus-ring: #a35200;
}

.invert[data-active][data-button],
.invert[data-hover='true'][data-button],
.dark-theme .invert[data-active][data-button],
.dark-theme .invert[data-hover='true'][data-button] {
  background: var(--themed-hover-bg, #ccc);
}

.invert[data-active][data-button], .invert[data-hover='true'][data-button] {
  background: var(--themed-hover-bg, #383838);
  border-color: var(--themed-hover-bg, var(--ds-gray-200)) !important;
}

.button.loading[data-button],
.button[aria-disabled=true],
.button[disabled][data-button] {
  background: var(--ds-gray-100);
  color: var(--ds-gray-700);
  --themed-border: var(--ds-gray-400) !important;
  cursor: not-allowed;
}

.button[data-button]:not(.shape) {
  padding-left: var(--x-padding);
  padding-right: var(--x-padding);
  height: var(--height);
}

/* content of button */
.content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding: 0 6px;
}
.content.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prefix {
  margin-right: 10px;
}
.suffix {
  margin-left: 10px;
  display: flex;
}
.prefix, .suffix {
  min-width: 20px;
  align-items: center;
  justify-content: center;
}
.button .prefix, .button .suffix {
  display: flex;
  flex-shrink: 0;
}
.button .prefix,
.button[data-prefix='true'] .prefix {
  margin-right: 2px;
}
.button .suffix,
.button[data-suffix='true'] .suffix {
  margin-left: 2px;
}