/* wrapper */
.wrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  z-index: 101;
  position: relative;
  --transition: box-shadow 200ms ease 0s, background-color 200ms ease 0s;
  background: var(--ds-background-200);
  min-height: var(--header-height);
  transition: var(--transition);
  box-shadow: var(--header-border-bottom);
}

.sticky {
  position: sticky;
  top: 0;
}

.transparentUntilScroll:not(.hasScrolled),
.transparent {
  background: transparent;
  box-shadow: none;
}

.wrapper.sticky.canGrow[data-scrolled=true] {
  --header-height-collapsed: 64px;
  --header-height-expanded: 100px;
  --header-easing: cubic-bezier(0.455,0.03,0.515,0.955);
  --header-duration: 350ms;
  --header-delay: calc(var(--header-duration) / 2);
  --header-background: var(--ds-background-200);
  box-shadow: none;
  background: transparent;
}

.wrapper.sticky.canGrow[data-scrolled=true]::after {
  content: "";
  background: var(--header-background);
  box-shadow: var(--header-border-bottom);
  height: var(--header-height-collapsed);
  position: absolute;
  z-index: -1;
  inset: 0;
  will-change: height, transform;
  transition: var(--transition), height var(--header-duration) var(--header-easing);
}

/* header */
.header {
  width: var(--ds-page-width-with-margin);
  padding-left: var(--geist-page-margin);
  padding-right: var(--geist-page-margin);
  justify-content: space-between;
}

@media screen and (max-width: 1150px) {
  .header {
      padding: 0 var(--geist-gap);
  }
}

.header, .left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.wrapper.sticky.canGrow[data-scrolled=true] .header {
  margin: 0 !important;
}

.left a {
  display: flex;
  align-items: center;
}

.main {
  --gap-between-logo-and-nav: 32px;
  position: relative;
}

@media screen and (max-width: 1150px) {
  .main {
      display: none;
      visibility: none;
  }
}