.gridPage {
  background: var(--ds-background-200);
}

@media (min-width: 961px) {
  .simpleHeroHeading {
      line-height: 116.66%;
  }
}
.simpleHeroDescription,
.simpleHeroHeading {
  max-width: 720px;
}
.simpleHeroDescription,
.simpleHeroHeading {
  text-wrap: balance;
}
.simpleHeroVertical .simpleHeroDescription,
.simpleHeroVertical .simpleHeroHeading {
  text-align: center;
}
.simpleHeroDescription b {
  color: var(--ds-gray-1000);
  font-weight: 500;
}