.logoLink, .logo {
  transition: box-shadow .2s ease;
  border-radius: 4px;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.link:focus-visible,
.link[data-focus-visible-added] {
  outline: var(--ds-focus-color) auto 2px;
  outline-offset: 4px;
}