.footer {
  --geist-page-width: 1080px;
  font-size: .875rem;
  background: var(--ds-background-100);
  border-top: 1px solid var(--ds-gray-alpha-400);
  padding: 28px var(--geist-gap) var(--geist-gap);
}
@media (max-width: 960px) {
  .footer {
      padding: 20px var(--geist-gap) 16px;
  }
}
.marketingFooterContainer {
  background: var(--geist-background);
  padding: 0 32px 90px !important;
  flex-direction: column;
}

@media (max-width: 1250px) {
  .marketingFooterContainer {
      padding-bottom: 32px !important;
  }
}
@media (max-width: 750px) {
  .marketingFooterContainer {
      padding-bottom: 24px;
  }
}
@media (max-width: 600px) {
  .marketingFooterContainer {
      padding: 16px 1rem 24px !important;
  }
}
.dashboardFooter[data-variant='subtle'],
.marketingFooterContainer[data-variant='subtle'] {
  background: var(--ds-background-200);
  border-top: none;
}

.footer nav {
  max-width: var(--geist-page-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 960px) {
  .footer nav {
      width: 100%;
  }
}

.marketingFooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 80px;
  width: 100%;
}
@media (max-width: 750px) {
  .marketingFooter {
      grid-template-columns: repeat(2, minmax(auto, 240px));
      gap: var(--geist-space-small);
  }
}

.geistFootergroup .geistFooterHeader {
  font-weight: 500;
  font-size: 14px;
  margin: var(--geist-gap-half) 0;
}

.geistFooterList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.geistFooterItem {
  color: var(--ds-gray-900);
  padding: 6px 0;
  line-height: 20px;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}
.linkSecondary {
  color: var(--accents-5);
  transition: color .1s ease;
}
.link:focus-visible,
.link[data-focus-visible-added] {
  outline: var(--ds-focus-color) auto 2px;
  outline-offset: 4px;
}
.logoHowbizz {
  display: flex;
  justify-self: end;
  height: -moz-fit-content;
  height: fit-content;
  transform: translateY(4px);
}
@media (max-width: 750px) {
  .logoHowbizz {
      justify-self: start;
      grid-column: 1 / 3;
      grid-row: 1;
      transform: translateY(0);
  }
}

.statusRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  min-height: 34px;
}
.statusRow p {
  color: var(--accents-5);
}

.themeSwitcherRoot {
  display: flex;
  box-shadow: var(--ds-shadow-border);
  border-radius: 9999px;
  height: 32px;
  width: -moz-fit-content;
  padding: 0;
  border: 0;
  margin: 0;
}
.themeSwitcherRoot[data-small="true"],
.themeSwitcherRoot[data-small="true"] label {
  height: 24px;
  width: 24px;
}
.themeSwitcherRoot input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  outline: 0;
  position: absolute;
}
.themeSwitcherRoot label {
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  height: 32px;
  width: 32px;
  margin: 0;
  cursor: pointer;
  position: relative;
  color: var(--ds-gray-700);
}
.themeSwitcherRoot svg {
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 1;
}
.themeSwitcherRoot[data-small="true"] svg {
  transform: translate(-.5px, -.5px);
}
.themeSwitcherRoot input:checked~label {
  box-shadow: 0 0 0 1px var(--ds-gray-400), 0 1px 2px 0 var(--ds-gray-alpha-100);
  color: var(--ds-gray-1000);
  background: var(--ds-background-100);
}