.themeSwitcherComponent {
  transform: translateX(8px);
}
.switcher-root {
  display: flex;
  box-shadow: var(--ds-shadow-border);
  border-radius: 9999px;
  height: 32px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  border: 0;
  margin: 0;
}
.switcher-root input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  outline: 0;
  position: absolute;
}
.switcher-root label {
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  height: 32px;
  width: 32px;
  margin: 0;
  cursor: pointer;
  position: relative;
  color: var(--ds-gray-700);
}
.switcher-root svg {
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 1;
}
.switcher-root input:checked~label {
  box-shadow: 0 0 0 1px var(--ds-gray-400), 0 1px 2px 0 var(--ds-gray-alpha-100);
  color: var(--ds-gray-1000);
  background: var(--ds-background-100);
}